/ {
  leds {
          compatible = "gpio-leds";
          led_1: led_1 {
                        gpios = <&gpioe 2 GPIO_ACTIVE_HIGH>;
                        label = "User LD1";
                        };
          led_2: led_2 {
                        gpios = <&gpioe 3 GPIO_ACTIVE_HIGH>;
                        label = "User LD2";
                        };                  

  };

  aliases {
            led0 = &led_1;
            led1 = &led_2;

          };
};
