/**
 * Specifing MIPI Display Serial Interface device on devboard
 */

/ {
        leds {
                compatible = "gpio-leds";
                led_1: led_1 {
                              gpios = <&gpiok 3 GPIO_ACTIVE_HIGH>;
                              label = "User LD1";
                              };
                led_2: led_2 {
                              gpios = <&gpiod 5 GPIO_ACTIVE_HIGH>;
                              label = "User LD2";
                              };                  

        };

        mipi-dsi {
                compatible = "mipi-dsi-host";
                #address-cells = <1>;
                #size-cells = <0>;
                
                display0: mipi-dsi-device@0 {
                        compatible = "mipi-dsi-device";
                        reg = <0x0 >;
                        data-lanes = <3>;
                        pixel-format = <0>;
                };
        };

        aliases {
                  led0 = &led_1;
                  led1 = &led_2;
                  mipi_dsi0 = &display0;
                };
};







